.videoControls {
    display: flex;
    position: absolute;
    bottom: 0.5rem;
    gap: 0.5rem;
    z-index: 1;
    width: 100%;
    justify-content: center;

    .videoControlsItem {
        display: flex;
        background: rgb(189, 189, 189);

        &:hover {
            background: rgb(150, 150, 150);
        }

        &.videoControlsBlurBtn {
            display: flex;
            position: absolute;
            left: 0.5rem;
        }
    }
}

