.conferenceVideoWrapper {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.199);
}

.userName {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.473);
    border-radius: 0 0px 0px 4px
}

.disabledMicIcon {
    display: flex;
    position: absolute;
    z-index: 1;
    right: 0.5rem;
    bottom: 0.5rem;
    color: rgb(241, 86, 86);
}

.disabledCameraPoster {
    background: rgb(70, 128, 253);
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 1;
    align-items: center;
    justify-content: center;
    color: white;
}

.mirrored {
    transform: scale(-1, 1);
}