.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    .rectsWrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: absolute;

        .rect {
            display: flex;
            align-items: center;
        }
    }
}