.container {
    position: relative;

    .btn {
        display: flex;
        padding: 0;

        &.closeButton {
            color: rgb(151, 206, 255);
            position: absolute;
            right: 0.1rem;
           
        }
    
        &.playButton {
            color: rgb(180, 25, 59);
        }
    }
}
